<h2>Reactive Form Validation </h2>
<form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name  </label>
    <input type="text"  class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':form.get('firstName').touched && form.get('firstName').invalid}" required />
    <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="invalid-feedback">
      <div *ngIf="form.get('firstName').errors.required">First Name is required</div>
    </div>
  </div>
  <br/>
  <div class="form-group">
    <label for="lastName">Last Name  </label>
    <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':form.get('lastName').touched && form.get('lastName').invalid}" required />
    <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid"class="invalid-feedback">
      <div *ngIf="form.get('lastName').errors.required">Last Name is required</div>
    </div>
  </div>
  <br/>
  <div class="form-group">
    <label for="email">Email  </label>
    <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}"   />
    <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
      <div *ngIf="form.get('email').errors.required">Email Name is required</div>
      <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
    </div>
  </div>
  <br/>
  <div class="form-group">
    <label for="password">Password  </label>
    <input type="password" class="form-control"  formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
    <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-feedback">
      <div *ngIf="form.get('password').errors.required">Password is required</div>
      <div *ngIf="form.get('password').errors.minlength">Password  must be a letaset 6 charector</div>
    </div>
  </div>
  <br/>
  <div class="form-group">
    <button class="btn btn-primary"  [disabled]="!form.valid">Register</button>
  </div>
</form>