<h2>Routing and Navigation</h2>

<nav>
  <a routerLink="/student" routerLinkActive="active">Students</a><br/>
  <a routerLink="/teacher" routerLinkActive="active">Teachers</a><br/>
</nav>
<router-outlet></router-outlet>