<h2>Data Binding</h2>

<h2>One Way Data Binding</h2>

<div>
  {{title}}
</div>

<div>
  <p>Property Binding</p>
  <img [src] = "image" width="300" height="200">
</div>

<div>
  <p>Event Binding</p>
  <button (click)="goBack()" > GoBack</button>
</div>

<h2>Two Way Data Binding</h2>
<div>
  <input [(ngModel)]="message" /> <br/>    
  <p> {{message}} </p>  
</div>