<h2>Structural Directives</h2>

<h3>NgIf Directive</h3>

<p *ngIf="displayName; else ElseBlock">
    Name displayed
</p>
<ng-template #ElseBlock>
  <p>
    Name is hidden
  </p>
</ng-template>
<br/>

<h3>NgSwitch Directive</h3>
<div [ngSwitch]="number">
  <div *ngSwitchCase="'one'">You selected number one</div>
  <div *ngSwitchCase="'two'">You selected number two</div>
  <div *ngSwitchCase="'three'">You selected number three</div>
  <div *ngSwitchDefault>Select again</div>
</div>
<br/>

<h3>NgFor Directive</h3>
<div *ngFor="let j of numbers; index as i">
  <p>{{i}} {{j}}</p>
</div>

<router-outlet></router-outlet>